body{
    margin: auto;
}

.container{
    height: 1000px;
    width: 1500px;
    background-color: rgb(12, 12, 12);
}

.nav{
    background-color: yellow;
    width: 1500px;
    height: 60px;
    padding-top: 5px;
    margin: auto;
    text-align: center;
    border: 4px dashed black;
}
#fullname, #phone-number{
    background-color: yellow;
    text-align: center;
    margin: 20px auto;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 40px;
}

button, input{
    display: block;
    background-color: yellow;
    border-radius: 40px;
    margin: 10px auto;
}

.form{
    border: 2px dashed black;
    margin: 70px ;
    width: 290px;
    background-color: yellow;
    padding: 40px;
    padding-top: 20px;
}   
#input-fullname{
    text-align: center;
}
#input-phone-number{
    text-align: center;
}


table{
    margin:auto;
    background-color: yellow;
    width: 370px;
}
td{
    border: 1px solid black;
}
table{
    margin:  70px;
}
#winners{  
    background-color: yellow;
    border: 1px solid black;
    position: fixed;
    top: 15px;
    right: 8px;
}
.game{
    width: fit-content;
    height: fit-content;
    border: 4px dashed yellow;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: black;
}
